{% extends "base.html" %}

{% load static %}

{% block content %}
<!--
<div id="env">[[message]]</div>

<div class="nes-container is-rounded is-dark with-title" style="font-size:xx-small; width:50%">
    <p class="title">Container.is-dark</p>
    <p>Good morning. Thou hast had a good night's sleep, I hope.</p>
</div>
-->

<div id='phaser-canvas'></div>

{% endblock %}

{% block js_content %}
<script>
    var env = new Vue({
        delimiters: ['[[', ']]'],
        el: '#env',
        data: {
            message: 'Welcome to the Village',
            assets_root: "{% static 'assets/village' %}",
            parent: "phaser-canvas",
        },
    });
</script>

<script type="module" src="{% static 'src/village/game.js' %}"></script>

{% endblock %}